@media (max-width: 600px) {
  body {
    background: var(--pale-blue) url(../images/pattern-background-mobile.svg)
      repeat-x left top;
  }
}

@media (max-width: 400px) {
  .order-summary-card {
    max-width: 330px;
    font-size: 20px;
  }
  .order-summary-card:hover {
    transform: none;
  }
  #cancel-order-button {
    margin: 8px 0 20px 0;
  }
}
